---
layout: default
page_title: About Us
description: Find out how we're helping the veteran community become a better place
hero_image: /images/drill2.jpg
---

<div class="section background-secondary">
  <div class="vert-inner">
    <div class="inner">

      <div class="image-content">
        <div class="image-content__content-container">
          <h2 class="image-content__title">About Us</h2>
          <div class="divider-small"></div>
          <h3 class="image-content__sub-title">Tom's Legacy</h3>
          <p>
            The Zola Initiative is a 501(c)(3) pending Nonprofit Organization aimed at enhancing veterans outreach programs in communities and colleges across the country.
          </p>
          <p>
            This is our way of continuing Tom’s legacy and his mission of helping veterans have an easier life after exiting the service.
          </p>
        </div
        ><div class="image-content__image-container">
            <div class="image-content__image-wrapper">
              <div class="image-content__image-backdrop"></div>
              <img class="image-content__image" src="/images/eagle.png" alt="image content image" />
            </div>
            <p class="image-content__image__description brand-font">
              <!-- Zola wanted to create a better world for veterans, and in his memory, we aim to accomplish that. -->
            </p>
        </div>
      </div>

    </div>
  </div>
</div>


{% include story-link.html %}


<div class="section background-secondary">
  <div class="vert-inner">
    <div class="inner">

      <div class="image-content__image-container--alternate">
        <div class="image-content__image-wrapper--alternate">
          <div class="image-content__image-backdrop--alternate"></div>
          <img class="image-content__image" src="/images/field.png" alt="image content image" />
        </div>
          <p class="image-content__image__description brand-font">
            <!-- Zola wanted to create a better world for veterans, and in his memory, we aim to accomplish that. -->
          </p>
      </div><!--
   --><div class="image-content__text-container">
        <p>
          Veterans are a different breed, plain and simple. When we are getting ready to get out of the service, we get excited while thinking about going back to the ‘simpler’ life and being surrounded by friends and family back home. However, what we don’t realize until we get back home, is that things are different... <em>we</em> are different. The various experiences we al have in the service shape us into different people along the way. Despite all desire, to return to the life that was left. You can’t go backwards, you must move forwards. The Zola Initiative is an organization dedicated to helping veterans across the country move forward in a positive direction.
        </p>
        <p>
          22 Veterans across the country commit suicide every day, and that average is actually rising. We, as veterans, need to come together in our communities to help each other deal with the daily challenges that come with transitioning back into the civilian world
        </p>
        <p>
          The Zola Initiative aims to be a early, preventative measure to veteran’s suicide, by getting veterans connected with other veterans in the communities and build support systems for each other, a system of people that we know we can relate to and go to for help when times get tough.
        </p>
      </div>

    </div>
  </div>
</div>

{% include call-to-action.html %}