---
layout: default
page_title: Initiative
description: The Zola Initiative aims to be an early preventative measure to veteran’s suicide, by connecting veterans in their communities and building a strong, local, accessable support system.
hero_image: /images/hero.png
homepage: true
---

<div class="section background-secondary">
  <div class="vert-inner">
    <div class="inner">

      <div id="ega" class="">
        <img class="ega" src="/images/ega.jpg" alt="EGA" />
      </div>

      <div class="image-content">
        <div class="image-content__content-container">
          <h2 class="image-content__title">Mission</h2>
          <div class="divider-small"></div>
          <h3 class="image-content__sub-title">The mission of the Zola Initiative has four main goals:</h3>
          <ol>
            <li>
              <p class="image-content__text">Grant funds to build veterans centers on college campuses across the country</p>
            </li>            
            <li>
              <p class="image-content__text">Host veteran outreach events to connect veterans with other veterans and resources in communities across the country</p>
            </li>            
            <li>
              <p class="image-content__text">Grant scholarships to veterans who have exhausted their VA benefits or need other financial assistance to help complete their educations</p>
            </li>            
            <li>
              <p class="image-content__text">Raise awareness for the veteran suicide epidemic and donate funds to other veteran suicide prevention charities.</p>
            </li>            
          </ol>          
        </div
        ><div class="image-content__image-container">
            <div class="image-content__image-wrapper">
              <div class="image-content__image-backdrop"></div>
              <img class="image-content__image" src="/images/dogtag.jpg" alt="image content image" />
            </div>
            <p class="image-content__image__description brand-font">
              Zola wanted to create a better world for veterans, and in his memory, we aim to accomplish that.
            </p>
        </div>
      </div>

    </div>
  </div>
</div>


{% include story-link.html %}


<div class="section">
  <div class="vert-inner">
    <div class="inner">      
      <p class="stand-alone-text">
        Our focus is to bring veterans together in the different phases of their lives.
        We understand the importance of building a support system, because the veteran community is a family; one that needs to come together and help each other.
      </p>
      <p class="stand-alone-text">        
        Zola knew that. He wanted to stimulate the community and to create a better world for veterans. In his memory, we aim to accomplish that.
      </p>
    </div>  
  </div>
</div>


<div class="section background-color">  
  <div class="events-container">
    <div class="event event--one" style="background-image: url(/images/event-party.jpg)">
      <img class="event__icon" src="/images/event.png" />
      <div class="event__title brand-font">Coming Soon!</div>
    </div>
    <div class="event event--two" style="background-image: url(/images/event-arch.png)">
      <img class="event__icon" src="/images/event.png" />
      <div class="event__title brand-font">Coming Soon!</div>
    </div>
    <div class="event event--three" style="background-image: url(/images/event-lake.png)">
      <img class="event__icon" src="/images/event.png" />
      <div class="event__title brand-font">Coming Soon!</div>
    </div>
  </div>
</div>


{% include call-to-action.html %}