<div class="section call-to-action">
  <div class="vert-inner">
    <div class="inner">      
      <h3 class="third header">
        Looking to Help Out?
      </h3>
      <p class="third">
        As we are in the beginning phases of our organization, we are relying heavily on individual donations to make our first outreach events and future fundraisers possible. Please donate and spread the word! Any amount helps!
      </p>
      <div class="third call-to-action-button-container">
        <a href="/donate.html" class="button hero__button">Take Action</a>
      </div>
    </div>  
  </div>
</div>
