<header class="site-header">

  <div class="logo-container">
    <label for="navtoggle">
      <i class="fa fa-th navtoggle--icon" aria-hidden="true"></i>
    </label>
    <a class="site-title" href="{{ site.baseurl }}/"><img class="site-header__logo" src="/images/logo-light.png" alt="The Zola Initiative Logo" /></a>
  </div>

  <div class="inner">
    <input id="navtoggle" type="checkbox" style="display: none;" />
    <nav class="site-header__nav">
      <a href="/" class="site-header__nav__link">Home</a>
      <a href="/about.html" class="site-header__nav__link">About Us</a>
      <a href="" class="site-header__nav__link">Events</a>
      <a href="/donate.html" class="site-header__nav__link">Donate</a>
    </nav>
  </div>

</header>
{% include hero.html %}