<div class="section background-color image-showcase-section">
  <div class="vert-inner">
    <div class="inner">

      <div class="image-showcase">
        <div class="image-showcase__decor image-showcase__decor--previous"></div>
        <div class="image-showcase__decor image-showcase__decor--next"></div>
        <div class="image-showcase__item">          
          <h2 class="image-showcase__item__title">Thomas K. Palozola</h2>
          <h2 class="image-showcase__item__title">June 1985 - May 2017</h2>
          <a href="/story.html" class="button button--secondary">his story</a>
        </div>
      </div>

    </div>
  </div>
</div>